@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{
    /*background-color:#1f3c88;*/
    background: linear-gradient(rgba(59, 59, 245, 0.329), rgba(189, 245, 59, 0.24)), url(../img/architecture-clouds-daylight-2133508.jpg);
    background-position: center;
    background-size: cover;
    margin:0;
    font-family: 'Lobster', 'Roboto', sans-serif;
}

/*-----------Name in Navbar----------*/
.navbar-name{
    float: left;
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.navbar-name a:hover{
    color:white;
    text-shadow: 2px 2px black;
}
/*--------------Entire navbar section-----------------*/
.navbar-container{
    position: absolute;
    /*background-color: lightblue;*/
    background: rgba(173, 216, 230, 0.692);
    text-shadow: 2px 2px white;
    width: 100%;
}
.navbar-container a{
    /*background-color: aquamarine;*/
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 1.5em;
}
/**********************TESTING STICKYBAR********************************/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky{
padding-top: 60px;
}
/**********************TESTING STICKYBAR********************************/

/*--------------Just links in navbar-----------------*/
.links li{
    list-style-type:none ;
    display: inline-block;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;

}
.navbar-links ul{
    float: right;
}
.links a:hover{
    color:white;
    text-shadow: 2px 2px black;

}
/*-------------Front page under navbar-----------------*/

.intro{
    text-align: center;
    margin-bottom: 50em;
}
.intro h1{
    margin-top: 4em;
    display: inline-block;
    position: initial;
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 5em;
    letter-spacing: 5px;
    /*margin-top: /*5em* 400px;
    margin-left: /*7.5em*400px;
    margin-right: 400px;*/
    /*top: 40%;
    right: 35%;*/ 
}

/*-------------About page under navbar-----------------*/
.about-section{
    margin-top: 20em;
    margin-bottom: 100em;
}
.about-title{
    position: absolute;
    float: left;
    margin-top: 15em;
    margin-left: 15em;
}
.about-title h1{
    color: white;
    text-shadow: 3px 3px black;
    font-size: /*60pt*/4.5em;
    letter-spacing: 25px;
}
.about-me-text{
    position: absolute;
    float: right;
    border: 2px solid white;
    border-radius: 25px;
    padding: 0em 2em;
    margin-top: 10em;
    margin-left: 50em;
    margin-right: 10em;
}
.about-me-text p{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7em; 
    color: white;
    text-shadow: 2px 2px black;
    background: rgba(28, 33, 34, 0.418);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: justify;
}
.about-me-text a{
    text-decoration: none;
    color: yellow;
    text-shadow: 2px 2px black;
}
.about-me-text a:hover{
    color: white;
    text-shadow: 3px 3px black;
}

.about-page-section h1{
    float: left;
}

