@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
    background-color:#1f3c88;
    background-image: url("C:\Users\gonza\Desktop\c-skyline.jpg");
    margin:0;
    font-family: 'Lobster', 'Roboto', sans-serif;
}
.navbar-name{
    float: left;
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;

}
.navbar-name a:hover{
    color:white;
    text-shadow: 2px 2px black;
}
.navbar-container{
    position: absolute;
    background-color: lightblue;
    text-shadow: 2px 2px white;
    width: 100%;
}
.navbar-container a{
    /*background-color: aquamarine;*/
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 1.5em;
}
.links li{
    list-style-type:none ;
    display: inline-block;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;

}
.navbar-links ul{
    float: right;
}
.links a:hover{
    color:white;
    text-shadow: 2px 2px black;

}
.intro h1{
    position: absolute;
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 3em;
    top: 40%;
    right: 35%;
   
}


.about-me-text{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin:400px;
}