@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
    /*background: lightblue;*/
    background: linear-gradient(rgba(207, 191, 191, 0.4),rgba(157, 179, 169, 0.4)), url(../img/communication-contact-conversation-33999.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    display: block;
    text-align: center;
}
.social{
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    letter-spacing: 1em;
    margin: 25px;
    /*margin-left: 275px;*/
}

.social img.github{
    border: 2px solid white;
    border-radius: 30px;
}
.social img:hover{
    transform: scale(1.5, 1.5);
    /*translate 50px from left, and 40px from top */
    /*transform: translate(50px, 40px); */
    /** combine both scale and translate */
    /*transform: scale(1.5, 1.5) translate(50px, 40px);*/
}

.return{
    font-family: 'Lobster';
    
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.return a{
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white;
}
.return a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

@media (max-width: 800px){
.form iframe{
    width: 320px; 
}
.return{
    font-size: 2em;
}
}