@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
    background-color: lightblue;
    margin: 0;
}
.portfolio-page-content{
    font-family: 'Lobster';
    font-size: 2.5em;
}
.portfolio-page-content h1, h2{
    text-shadow: 4px 4px white;
}
.portfolio-page-content a{
    text-decoration:none;
}
.portfolio-page-content a:hover{
    text-decoration: underline;
}
.repo-links{
    display:block;
}
.repo-links li{
    list-style-type:none;
    margin: 3em;
    font-family: 'Lobster';
    font-size: 2em;
}
.repo-links :hover{
    color: white;
    text-shadow: 2px 2px black;

}
.repo-links a{
    color: black;
    text-shadow: 2px 2px white;
    text-decoration: none;
}
.repo-links img{
    border-radius: 40px;
}
